/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

/*--------------------------------------------------------------
# Metrics table
--------------------------------------------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    max-width: 150px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    z-index: 2;
    position: sticky;
    top: 0;
}

th:first-child, td:first-child {
    position: sticky;
    left: 0;
    background-color: #04AA6D;
    border: 1px solid black;
    z-index: 1;
}

th:first-child {
    z-index: 3;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/*--------------------------------------------------------------
# List of guids
--------------------------------------------------------------*/
input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #e0e0e0;
}
